/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button:disabled,
.theme-menu__item:hover,
.theme-menu__button:focus-visible {
 opacity: .6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  transition: transform .3s;
}

.theme-menu__button:focus {
  outline: none;
}


.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid currentColor;;
}

.button__border:focus {
  outline: none;
}

.button__border:focus-visible {
  box-shadow: 2px 2px 0 0 var(--text-color);
}


.button__border:hover:before {
  transform: scaleX(1);
}

.like-icon .main-body,  
.like-icon .core {
  fill: var(--bg-color);
}

.like-icon .main-body {
  transition: fill .3s linear;
}

.like-icon .core {
  transition: fill .3s .03s linear;
}

.like-icon:hover .main-body,
.like-icon:hover .core, 
.like-icon .contour {
    fill: var(--text-color);
}

.like-icon:hover .main-body {
  transition: fill .3s .05s linear;
}

.like-icon:hover .core {
  transition: fill .3s linear;
}

.like-icon .contour {
  transition: fill .1s linear;
}

.like-icon:active .core {
  fill: var(--spark-heart-color);
  transition: fill .3s linear;
}
.like-icon:active .main-body {
  fill: var(--spark-heart-color);
  transition: fill .3s .05s linear;
}

.like-icon.is-liked .core, 
.like-icon.is-liked .contour, 
.like-icon.is-liked .main-body {
  fill: var(--spark-heart-color);
}

.like-icon.is-liked .core {
  transition: fill .3s linear;
}

.like-icon.is-liked .main-body {
  transition: fill .3s .05s linear;
}

.like-icon.is-liked .contour {
  transition: fill .3s .06s linear;
}

.like-icon.is-liked .sparks {
  animation-name: appearance;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
 
}

.like-icon.is-liked .heart {
  animation-name: increase;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
   animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0.33;
  }

  66% {
    opacity: 0.66;
  }

  100% {
    opacity: 1;
  }
}

@keyframes increase {
  0% {
    transform-origin: center;
    transform: scale(1);
  }

  33% {
    transform-origin: center;
    transform: scale(1.05);
  }

  66% {
    transform-origin: center;
    transform: scale(1.10);
  }

  100% {
    transform-origin: center;
    transform: scale(1.15);
  }
}


@keyframes arrow {
  0% {
    transform: translate(1px);
  }

  33% {
    transform: translate(2px);
  }

  66% {
    transform: translate(3px);
  }

  100% {
    transform: translate(4px);
  }
}