/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-weight: var(--text-font-weight);
  font-variation-settings: 'wght' var(--text-font-weight, 400);
  font-size: 18px;
  color: var(--text-color);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @supports (font-variation-settings: normal) {
  .page {
    font-family: 'Inter-Variable', sans-serif;
  }
} */

.header {
  width: clamp(min(375px, 100%), 100%, 700px);
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 102px;
  padding-block-start: clamp(120px, 30vw, 136px);
  padding-block-end: 22px;
  border: 2px solid var(--text-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-end: 22px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  padding-inline-start: 15px;
}

.theme-menu__item {
  transition: opacity .3s ease;
}

.theme-menu__button {
  background-color: inherit;
  border: none;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  text-transform: uppercase;
  width: fit-content;
}

.theme-menu__button:disabled {
  pointer-events: none;
  position: relative;
}

.theme-menu__button:disabled::before {
  content: '▶';
  display: block;
  position: absolute;
  inset-inline-start: -20px;
  animation-name: arrow;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}


.theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--text-color);
  transform-origin: left bottom;
  transform: scaleX(0);
  transition: none;
}

.content {
  width: clamp(min(375px, 100%), 100%, 700px);
}

.article__llist {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.article__item {
  background-color: var(--bg-color);
}

.article {
  display: flex;
  flex-direction: column;
}

.article__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-font-weight, 700);
  padding-block: 5px;
  padding-inline: 10px;
  border: 2px solid var(--text-color);
}

.article__context {
  border: 2px solid var(--text-color);
  position: relative;
}

.article__image {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  font-size: 0;
}

.filter__saturate .article__image {
  filter: saturate(0.1);
}

.filter__brightness .article__image {
  filter: brightness(1.7);
}

.filter__hue-rotate .article__image {
  filter: hue-rotate(0.1turn);
}

.filter__invert .article__image {
  filter: invert(80%);
}

.filter__sepia .article__image {
  filter: sepia(0.6);
}

.filter__blur .article__image {
  filter: blur(15px);
}

.filter__multi .article__image {
  filter: hue-rotate(0.8turn) grayscale(50%);
}

.article__label {
  position: absolute;
  inset-block-start: 20px;
  inset-inline-end: clamp(13px, 3vw, 25px);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: lowercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 
    -1px 0 var(--text-shadow-color), 
    0 1px var(--text-shadow-color), 
    1px 0 var(--text-shadow-color), 
    0 -1px whitevar(--text-shadow-color);
}

.no_filter .article__label, 
.filter__saturate .article__label, 
.filter__brightness .article__label {
  text-transform: uppercase;
}

@supports((text-stroke: 1px var(--text-shadow-color)) or (-webkit-text-stroke: 1px var(--text-shadow-color))) {
  .article__label {
      -webkit-text-stroke: 1px var(--text-shadow-color);
      text-stroke: 1px var(--text-shadow-color);
      text-shadow: none;
  }
} 

.article__content {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 22px 25px;
  border: 2px solid var(--text-color);

}

.article__text:not(:last-child) {
  padding-block-end: 27px;
}

.article__button {
  display: flex;
  justify-content: end;
  gap: 6px;
}

.card__icon-button {
  border: none;
  background: inherit;
  padding: 0;
  align-self: center;
  font-size: 0;
  transition: outline .3s ease;
  cursor: pointer;
}


.card__like-button {
  width: 130px;
  align-self: end;
  padding-block: 10.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__save {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 52px auto 100px auto;
  padding: 15px 20px;
}

.button__save .svg-floppy {
  height: 21px;
  width: 21px;
}

@media (width <= 375px) {
  .button__save {
    flex-direction: column;
  }

  .button__save .svg-floppy {
    height: 28px;
    width: 28px;
  }
}

.button__border {
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  cursor: pointer;
  color: inherit;
  transition: box-shadow .3s ease;
}

.button__border:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-bg-color);
  mix-blend-mode: difference;
  transform: scaleX(0);
  transform-origin: left top;
  transition: .5s ease-in-out;
}

.floppy-color {
  color: currentColor;
}

.sparks {
  opacity: 0;
}


dialog {
  width: clamp(341px, 100%, 357px);
  min-width: 341px;
  position: fixed;
  inset: 0;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border: 2px solid var(--text-color);
  padding: 30px;
  background-color: var(--bg-color);
  color: var(--text-color);
} 

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 
dialog[open] {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 30px 20px;
}

.button__dialog {
  grid-column: 1 / -1;
  padding-block: 12.5px;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}