/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.page.theme-dark {
  --bg-pattern: url(./svg/pattern-dark.svg);
  }
  .page.theme-light {
  --bg-pattern: url(./svg/pattern-light.svg);
  }

@media (prefers-color-scheme: dark) {

  :root {
    --bold-weight: 785;
    --regular-weight: 465;
    --bg-color: #000;
    --accent-color: #00cc14;
    --graddient-first-color: #000;
    --graddient-second-color: #007f0c;
    --graddient-third-color: #004306;
    --bg-gradient: 
  repeating-linear-gradient(90deg, var(--graddient-first-color) 0, var(--graddient-first-color) 2px, transparent 2px, transparent 4px), 
  repeating-linear-gradient(var(--graddient-first-color) 0, var(--graddient-first-color) 2px, transparent 2px, transparent 4px), 
  linear-gradient(var(--graddient-second-color), var(--graddient-third-color));
    --text-animate-color: #00cc14;
  }
}